# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Test suites
/coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
/.next/
/out/

# IDE + Editor files
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Environment variables
.env
.env*.local

# SQLite database files
*.db
*.sqlite
*.sqlite3
db/
*.db-journal
